/*#region fontSetup*/
@font-face {
    font-family: InriaSans-Regular;
    src: url(../font/InriaSans-Regular.woff2) format("woff2");
    font-weight: 500;
    font-style: light;
}

:root {
    --lighterBlue: #e4e9f5;
    --lightBlue: #d3ddf6;
    --deepBlue: #4d4b72;

    --softPurple: #d9cde3;
    --risingPurple: #ede4f5;
    --mediumPurple: #c39ae6;
    --darkPurple: #b46cf0;

    --gentleOrange: #fbe4de;
    --notSoGentleOrange: #f5cabf;
    --risingOrange: #f3b2a1;
    --mediumOrange: #dc8d77;
    --darkOrange: #de846d;

    --softGreen: #bffbcf;
    --risingGreen: #7def9c;
    --mediumGreen: #44d46b;
    --darkGreen: #1e873a;

    --floating-animation-time: 5s;
}

* {
    font-family: InriaSans-Regular;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 10px;
    padding-left: 0px;
    white-space: normal;
    overflow-wrap: break-word;
}

.hr {
    border-width:0;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 80%;
    height: 1px;
    background-color: var(--darkOrange);
    opacity: 0.25;
    position: relative;
    animation: var(--floating-animation-time) floating ease infinite;
}

#body > * > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
    height: fit-content;
}

.main-content {
    flex: 1 0 auto;
}

footer {
    margin-top: 50px;
    flex-shrink: 0;
}

/*#endregion*/
/*#region Navbar*/
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav,
ul,
li,
a {
    text-decoration: none;
    color: #333;
}

.logo {
    width: 15vw;
    height: 15vw;
    max-height: 40px;
    max-width: 40px;
}

.collapse {
    justify-content: right;
}

@media only screen and (min-width: 800px) {
    .navbar-nav-text-heading {
        font-size: inherit;
        padding: 5px;
    }
}

@media only screen and (max-width: 800px) {
    .navbar-nav-text-heading {
        font-size: 0px !important;
        padding: 5px;
    }
}

@keyframes shimmer {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

body {
    padding-top: 66px !important;
    animation: 5s shimmer linear infinite;
    padding: 2rem;
    background-image: linear-gradient(
        var(--softPurple),
        var(--gentleOrange),
        #d3ddf6,
        var(--deepBlue)
    );
    background-size: 400%;
    min-height: 100vh;
    height: fit-content;
}

body > div > div > * {
    padding: 20px;
    animation: 2s fade-in ease;
}

.navbar-container {
    animation: none !important;
}

nav {
    animation: none !important;
}

strong {
    color: var(--deepBlue);
}

/*#endregion*/
/*#region properCssStyling*/

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes floating {
    0% {
        top: 0px;
    }
    50% {
        top: 1vw;
    }
    100% {
        top: 0px;
    }
}

@keyframes floating-modal {
    0% {
        top: 50%;
    }
    50% {
        top: 50%;
    }
    100% {
        top: 50%;
    }
}

@keyframes pop-ups {
    0% {
        top: 5vw;
        opacity: 0;
        box-shadow: none;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

.pop-up-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;
}

.pop-up-flex-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.pop-up-flex-row > * {
    margin: 10px;
}

@media only screen and (min-width: 500px) {
    h1 {
        font-size: 1.75vw;
    }

    .org-logo{
        width: 10vw;
        padding: 1vw;
    }

    .btn-quiz {
        width: 25vw !important;
        height: 25vw;
        max-width: 400px !important;
        max-height: 250px !important;
        position: relative;
    }

    .pop-up {
        width: 35vw;
        min-height: fit-content;
        height: 25vw;
        max-width: 400px !important;
        max-height: 250px !important;
        position: relative;
        animation-name: pop-ups;
        animation-duration: 4s;
        animation-delay: 2s;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    }

    .pop-up-flex {
        flex-direction: column;
    }

    .pop-up > p {
        font-size: 1.5vw;
    }

    .startText p {
        font-size: 2vw;
        line-height: 1;
    }

    .quoteText {
        font-size: 3vw;
        line-height: 1;
    }

    .btn-cta-text {
        font-size: 1.5vw;
        padding: 0 !important;
    }

    .pop-up-icon {
        font-size: 5vw;
    }

    footer {
        font-size: 1vw;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 4.75vw;
    }

    .org-logo{
        width: 22vw;
        max-height: 22vw;
        padding: 1vw;
    }

    .pop-up-flex-row > * {
        margin-top: 10px;
    }

    .btn-quiz {
        height: 25vw;
        position: relative;
    }

    .pop-up {
        height: fit-content;
        min-height: 50vw;
        position: relative;
        animation-name: pop-ups;
        animation-duration: 4s;
        animation-delay: 2s;
    }

    .pop-up-flex {
        flex-direction: column;
    }

    .pop-up-flex-row {
        flex-direction: column;
    }

    .pop-up > p {
        font-size: 5vw;
    }

    .startText p {
        font-size: 6vw;
        line-height: 1;
    }

    .quoteText {
        font-size: 9vw;
        line-height: 1;
    }

    .btn-cta-text {
        font-size: 4vw;
        padding: 0 !important;
    }

    .pop-up-icon {
        font-size: 15vw;
    }

    footer {
        font-size: 2vw;
    }
}

.container-orange {
    background-color: var(--notSoGentleOrange);
    border-radius: 25px !important;
    animation: var(--floating-animation-time) floating ease infinite;
}

.container-orange * .btn {
    background-color: var(--risingOrange);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.container-orange * .btn:hover {
    background-color: var(--mediumOrange);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.container-orange * .btn:active {
    background-color: var(--darkOrange);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.container-orange * .modalcontent {
    background: linear-gradient(135deg, white, var(--notSoGentleOrange), white);
}

.container-purple {
    background-color: var(--softPurple);
    border-radius: 25px !important;
    animation: var(--floating-animation-time) floating ease infinite;
}

.container-purple * .btn {
    background-color: var(--risingPurple);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.container-purple * .btn:hover {
    background-color: var(--mediumPurple);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.container-purple * .btn:active {
    background-color: var(--darkPurple);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.container-purple * .modalcontent {
    background: linear-gradient(135deg, white, var(--softPurple), white);
}

.container-green {
    background-color: var(--softGreen);
    border-radius: 25px !important;
    animation: var(--floating-animation-time) floating ease infinite;
}

.container-green * .btn {
    background-color: var(--risingGreen);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.container-green * .btn:hover {
    background-color: var(--mediumGreen);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
    animation: 1s shadow-down ease;
}

.container-green * .btn:active {
    background-color: var(--darkGreen);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.btn {
    width: fit-content;
}

.pop-up-icon {
    padding-left: 37px;
}

footer {
    text-align: center;
    color: var(--lighterBlue);
    padding: 0 !important;
}

.container-results {
    height: fit-content;
}

.btn-orange {
    background-color: var(--notSoGentleOrange);
    border-radius: 25px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-orange:hover {
    background-color: var(--risingOrange);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.btn-orange:active {
    background-color: var(--mediumOrange);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.btn-purple {
    background-color: var(--softPurple);
    border-radius: 25px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-purple:hover {
    background-color: var(--risingPurple);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.btn-purple:active {
    background-color: var(--mediumPurple);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

/*#endregion*/

body.active-modal {
    overflow-y: hidden;
}

.Modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2000;
    animation: fade-in 500ms linear;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
    z-index: 1999 !important;
}

.modalcontent {
    animation: floating-modal 20s infinite;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 15px;
    max-width: 600px;
    width: 80vw;
    z-index: 2000;
}

.CloseModal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

#user-id {
    font-size: 5vw;
}

.modalcontent-purple {
    background: linear-gradient(135deg, white, var(--softPurple), white);
}

.modalcontent-purple * .btn {
    background-color: var(--risingPurple);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.modalcontent-purple * .btn:hover {
    background-color: var(--mediumPurple);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.modalcontent-purple * .btn:active {
    background-color: var(--darkPurple);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.modalcontent-orange {
    background: linear-gradient(135deg, white, var(--notSoGentleOrange), white);
}

.modalcontent-orange * .btn {
    background-color: var(--risingOrange);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.modalcontent-orange * .btn:hover {
    background-color: var(--mediumOrange);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.modalcontent-orange * .btn:active {
    background-color: var(--darkOrange);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

/*#endregion*/
