/*#region fontSetup*/
@font-face {
    font-family: InriaSans-Regular;
    src: url(../font/InriaSans-Regular.woff2) format("woff2");
    font-weight: 500;
    font-style: light;
}

:root{
    --orange: #ff8b3e;
    --darkOrange: #FF6C3E;
    --white: #F2F2F2;
    --cyan: #19a7ce;
    --lightBlue: #AFD3E2;
    --darkBlue: #146C94;
}

* {
    font-family: InriaSans-Regular;
    scroll-behavior: smooth;
    align-items:center;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}
/*#endregion*/
/*#region Navbar*/
nav ul {
    list-style-type: none;
}  
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav, ul, li, a {
    text-decoration: none;
    color: #333;
}

.logo {
    width:15vw; 
    height:15vw;
    max-height: 40px;
    max-width: 40px;
}

.collapse {
    justify-content: right;
}


@media only screen and (min-width: 800px){
    .navbar-nav-text-heading {
        font-size: inherit;
    }
}

@media only screen and (max-width: 1920px){
    .navbar-nav-text-heading{
        font-size: 0px !important;
    }
}

body {
    padding-top: 66px;
}
/*#endregion*/
/*#region properCssStyling*/

.header {
    color: var(--darkBlue);
    padding-left: 10vw;
    padding-right: 10vw;
    max-height: 20vh;
}

.header p{
    font-size: 4.5vw;
}

#banner {
    background: var(--cyan);
    padding-top: 10px;
    padding-bottom: 10px;
}

#banner * {
    color: var(--white);
    font-size: 5vw;
}

.btn-quiz {
    flex-shrink: 0;
    border-radius: 1vw !important;
    background: var(--orange);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-quiz:hover {
    background: rgb(235, 100, 60);
    box-shadow: none;
    transition-duration: 0.5s;
}

.btn-quiz:active {
    background: rgb(207, 88, 51);
    box-shadow: none;
}

.btn-quiz-lg {
    width: 70vw;
    height: auto;
}

.btn-quiz-lg p {
    color: var(--white);
    font-size: 6vw;
}

.btn-quiz-sm {
    width: 20vw;
    height: auto;
}

.dark-orange-titles {
color: var(--darkOrange);
text-align: center;
font-family: Imprima;
font-size: 10vw;
font-style: bold;
font-weight: 600;
line-height: normal;
}

.light-blue-banner {
    background-color: var(--lightBlue);
    width: 100%;
    height: auto;
}

.white-text-orange-banner{
    flex-shrink: 0;
    background: var(--darkOrange);
    color: var(--white);
    font-size: 5vw;
    width: 100%;
    border-radius: 1vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}

.white-text-orange-banner:hover{
    background: var(--orange);
    color: var(--lightBlue);
    transition-duration: 0.5s;
    box-shadow: none;
}

#user-profile{
    color: var(--darkBlue);
    text-align: center;
    font-size: 20vw;
}

#user-id{
    color: var(--cyan);
    text-align: center;
    font-size: 5vw;
}

#roh-banner {
    padding-top: 1vw;
    width: 80%;
    max-width: 950px;
    height: auto;
}

#sinc-banner {
    padding-top: 1vw;
    width: 80%;
    max-width: 950px;
    height: auto;
}

#find-out-more{
    width: 7vw;
    font-size: 5vw;
    color: var(--white);
    border-radius: 1.25rem;
    background: rgba(255, 108, 62, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#find-out-more:hover {
    background: rgba(255, 108, 62);
    box-shadow: none;
}

@media screen and (min-width: 1050px) {
    #h1 {
        font-size: 30px !important;
    }

    #h2 {
        font-size: 40px !important;
    }

    #btn-quiz-lg p {
        font-size: 40px;
    }
}

@media screen and (min-width: 500px) {
    #banner * {
        font-size: 24px;
    }
}

/*#endregion*/